$virtual-table-sticky-scroll-bottom: var(--virtual-table-sticky-scroll-bottom, 0);

.virtual-table-sticky-scroll {
  overflow: auto;
  position: sticky;
  bottom: $virtual-table-sticky-scroll-bottom;
  z-index: 3;
  box-sizing: border-box;

  &-bar {
    // 必须有高度才能出现滚动条
    // height: 1px;
    height: 1px;
    visibility: hidden;
  }
}
